<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    
</body>
</html>
<form action="">
    <input type="text" name="nomeCurso" id="" placeholder="Nome" [(ngModel)] = "curso.nomeCurso">
    <input type="number" name="valorCurso" id="" placeholder="Valor" [(ngModel)] = "curso.valor">
    <input type="text" name="areaCurso" id="" placeholder="Área" [(ngModel)] = "curso.areaCurso">
    

    <button value="cadastrar" class="button" (click)="cadastrar()" *ngIf="id < 0">Cadastrar</button>
    <button value="editar"  class="button" (click)="atualizar()" *ngIf="id >=0">Editar</button>
</form>

<table>
    <tr>
        <td class="categorias">Curso</td>
        <td class="categorias">Valor</td>
        <td class="categorias">Area</td>
        <td class="categorias">Ações</td>
       
    </tr>
    
    <tr *ngFor="let curso of vetorCursos; let id=index">
        <td >{{curso.nomeCurso}}</td>
        <td >{{curso.valor}}</td>
        <td >{{curso.areaCurso}}</td>
        <td>
            <button (click)="editar(id)" class="btn">Editar</button>
            <button (click)="excluir(id)" class="btn" >Excluir</button>
            
        </td>
    </tr>
</table>
